# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://varunbunty09_db_user:GurnXH1SeeaeeOIM@vauraplay.awbn04a.mongodb.net/?appName=VAuraPlay

# JWT
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRE=7d

# Brevo SMTP
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=your_brevo_smtp_login
BREVO_SMTP_PASS=your_brevo_smtp_password
BREVO_FROM_EMAIL=noreply@vauraplay.com
BREVO_FROM_NAME=VauraPlay

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# TMDB API
TMDB_API_KEY=your_tmdb_api_key
TMDB_BASE_URL=https://api.themoviedb.org/3

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Admin
ADMIN_EMAIL=admin@vauraplay.com
